# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.coverage

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

celerybeat-schedule*

scripts


# Don't ignore migrations
!migrations/
!migrations/**/
!migrations/**/*.py